<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="UserMapper">

  <!-- 유저 생성 -->
  <insert id="createUser">
    INSERT INTO usr_members (name, email, password, phone)
    VALUES (#{name}, #{email}, #{password}, #{phone})
  </insert>

  <!-- 이메일로 유저 조회 -->
  <select id="findByEmail">
    SELECT id, name, email, password, phone, role
    FROM usr_members
    WHERE email = #{email}
    LIMIT 1
  </select>

  <!-- id로 유저 조회 -->
  <select id="findById">
    SELECT id, name, email, password, phone, role
    FROM usr_members
    WHERE id = #{id}
    LIMIT 1
  </select>

</mapper>
